#divRegistered {
	height:100px; width:600px; 
	background-color:tan; color:black;
	font:"Times New Roman"; font-size:12px; 
	display:none; }

#divErr {
	height:20px; width:550px; 
	background-color:white; color:red;
	font:"Times New Roman"; font-size:16px; 
	display:none; }

tr {	height:40px; }

.container {
	background-color:#222; color:#fff; margin:20px auto; 
	font-family:"Times New Roman"; font-size:20px; overflow:hidden; 
	padding:20px; position:relative; width:600px; }

form {
	background-color:#555; display:block; padding:15px; }
